{% extends 'modale.html.twig' %}
{% block body %}

<div class="row">
    <section class="  col-14 col-m-14 col-l-14 col-xl-14 col-l-push-1 col-m-push-1 col-push-1 col-xl-push-1">
        {% include "/element/_flash_messages.html.twig" %}
        <h1>ajout d'une image</h1>
        <div class="row">
            {{ form_start(mediaForm,{ 'attr' :{'class': 'media col-14 col-m-14 col-l-13 col-xl-13'}}) }}
            <div class="col-13 col-m-13 col-l-12 col-xl-12">
                {{ form_row(mediaForm.name,{ 'attr' :{'placeholder': "nom de l'image",'class': 'col-13 col-m-13 col-l-12 col-xl-12'}})}}
                {{ form_row(mediaForm.alt,{ 'attr' :{'placeholder': "info balise alt",'class': 'col-13 col-m-13 col-l-12 col-xl-12'}})}}
                {{ form_row(mediaForm.url,{ 'attr' :{'class': 'col-13 col-m-13 col-l-12 col-xl-12'}})}}
                <button type="submit" class="uppercase primaire btn">Importer</button>
            </div>
            {{ form_end(mediaForm) }}
            <div class="row">
                <section class="container_media col-14  col-m-14 col-l-14 col-xl-14 ">
                        <div class=" principal col-14 col-m-14 col-l-14 col-xl-14">
                                <div class="row">
                                    {% for image in images  %}
                                        <article class="card_media col-l-2 col-xl-2 height-l-2 height-xl-2 ">
                                            <div class="media_card">
                                                <img src="{{ image.url }}" alt="">
                                            </div>
                                                <div class="content_media  ">
                                                    <h4>{{ image.name }}</h4>
                                                    <div class="info_media ">
                                                        <a href="{{ path('admin-show-media', {'id' : image.id})}}">Insérer</a>
                                                        <a href="{{ path('admin-imageUne-media', {'id' : image.id})}}">ImageUne</a>
                                                        <a href="{{ path('admin-delete-media', {'id' : image.id})}} ">supprimer</a>
                                                    </div>
                                            </div>
                                        </article>
                                    {% endfor %}
                                </div>
                            </div>
                </section>
            </div>

        


{% endblock %}
