{% extends 'administration.html.twig' %}
    {% block title %}Categories | Index{% endblock %}
{% block body %}
    <section class="contentAdmin">
        {% include "/element/_flash_messages.html.twig" %}
        <table id="table">
            <caption>
                <h1>Liste des catégories principales</h1>
            </caption>
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Slug</th>
                    <th>actions</th>
                </tr>
            </thead>
            <tbody id="tbody">
                {% for categories in categories %}
                    <tr >
                        <td>{{ categories.id }}</td>
                        <td>{{ categories.name }}</td>
                        <td>{{ categories.slug }}</td>
                        <td>
                            <a href="{{ path('admin-category-edit', {'id': categories.id}) }}" class="btn-success">Editer</a> --
                            <a href="{{ path('admin-category-delete', {'id': categories.id}) }}" class="btn-danger">Supprimer</a>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="4">no records found</td>
                    </tr>
            {% endfor %}
            </tbody>
        </table>
        <div class="row">
            <div class="pagination" >
                {% include 'admin/elements/_paginator.html.twig' %}
            </div>
        </div>
    </section>
{% endblock %}
