{% extends "administration.html.twig" %}
{% block title %}Pages | Add{% endblock %}
{% block body %}
<div class="row">
    {% include "/element/_flash_messages.html.twig" %}
        <section class="contentAdmin  col-15 col-m-15 col-l-15 col-xl-15  col-push-1 col-m-push-1 col-l-push-1 col-xl-push-1">
            <h1>Ajout d'une page</h1>
            <div class="row">
                {{ form_start(adminAddPage,{ 'attr' :{'class': 'col-14 col-m-14 col-l-14 col-xl-14'}}) }}
                    {{ form_row(adminAddPage.title,{ 'attr' :{'placeholder': "Titre de l'article",'class': 'col-14 col-m-14 col-l-14 col-xl-14'}})}}
                    {{ form_row(adminAddPage.slug,{ 'attr' :{'placeholder': "Slug de l'article",'class': 'col-14 col-m-14 col-l-14 col-xl-14'}})}}
                    <div data-mdeditor>
                        {{ form_row(adminAddPage.content)}}</div>
                    <button class="btn_validation_fom_admin_post uppercase primaire btn">envoyer</button> 
                {{ form_end(adminAddPage) }}
            </div>
        </section>  
    </div>
<div id="modal" class="modal modalNone">
    <div id="closeModal" class="close" onclick = "addClass()">
        x
    </div>
</div>
{% endblock %}

{% block javascripts %}
<script src="/dist/js/closeModal.js"></script>
<script src="/dist/js/imageUne.js"></script>
<script src="/dist/js/scriptImage.js"></script>
    <script>

   
    </script>
{% endblock %}
