{% extends "administration.html.twig" %}
{% block title %}Pages | Edit{% endblock %}
{% block body %}
<div class="row">
    {% include "/element/_flash_messages.html.twig" %}
    <section class="contentAdmin  col-15 col-m-15 col-l-15 col-xl-15 col-push-1 col-m-push-1 col-l-push-1 col-xl-push-1">
        <h1>Modification d'une page</h1>
        <div class="row">
            {{ form_start(adminEditPage,{ 'attr' :{'class': 'col-14 col-m-14 col-l-14 col-xl-14'}}) }}
            {{ form_row(adminEditPage.title,{ 'attr' :{'placeholder': "Titre de l'article",'class': 'col-14 col-m-14 col-l-14 col-xl-14'}})}}
            {{ form_row(adminEditPage.slug,{ 'attr' :{'placeholder': "Slug de l'article",'class': 'col-14 col-m-14 col-l-14 col-xl-14'}})}}
            {{ form_row(adminEditPage.content,{ 'attr' :{'class': 'col-14 col-m-14 col-l-14 col-xl-14 height-4 height-m-2 height-l-1'}})}}
            <button class="uppercase primaire btn">envoyer</button> 
            {{ form_end(adminEditPage) }}
        </div>
    </section>  
</div>
<div id="modal" class="modal modalNone">
    <div id="closeModal" class="close" onclick = "addClass()">
        x
    </div>
</div>
{% endblock %}

{% block javascripts %}
    <script src="/dist/js/eventFormSubCategorie.js"></script>
    <script src="/dist/js/mce/mce.js"></script>
    <script src="/dist/js/closeModal.js"></script>
    <script>
        mceEditor.init({
            selector: 'page_content',
            patch_insertCode: '{{ path("admin-insert-code") }}' ,
        });
        function send_to_editor(content){
            ed =mceEditorField.document
            console.log(ed,content)
            ed.execCommand('insertHTML',true,content); 
        }
    </script>
{% endblock %}
