{% extends "administration.html.twig" %}
{% block title %}Pages | Liste{% endblock %}

{% block body %}
    <section class="contentAdmin ">
      {% include "/element/_flash_messages.html.twig" %}
      <table>
        <caption>
          <h1>Liste des Pages</h1>
        </caption>
        <thead>
          <tr>
            <th>#</th>
            <th>Titre</th>
            <th>Slug</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
        {% for pages in pages %}
          <tr>
            <th>{{ pages.id}} </th>
            <td>{{ pages.title}} </td>
            <td>{{ pages.slug}} </td>
            <td>
                <a href="{{ path('admin-page-edit', {'id': pages.id}) }}" class="btn-success">Edit</a>
                <a href="{{ path('admin-pages-delete', {'id': pages.id}) }}" class="btn-danger">Delete</a>
            </td>
          </tr>
        {% else %}
          <tr>
            <td colspan="4">no records found</td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
    </section>
{% endblock %}