{% extends "administration.html.twig" %}
{% block title %}Posts | Edit{% endblock %}
{% block body %}
{% include "/element/_flash_messages.html.twig" %}
    <div class="row">
        <section class="contentAdmin  col-15 col-m-15 col-l-15 col-xl-15 col-push-1 col-m-push-1 col-l-push-1 col-xl-push-1">
            <h1>Ajout d'un article</h1>
            <div class="row">
                {{ form_start(formaEditPost,{ 'attr' :{'class': 'col-14 col-m-14 col-l-14 col-xl-14'}}) }}
                    {{ form_row(formaEditPost.title,{ 'attr' :{'placeholder': "Titre de l'article",'class': 'col-14 col-m-14 col-l-14 col-xl-14'}})}}
                    {{ form_row(formaEditPost.slug,{ 'attr' :{'placeholder': "Slug de l'article",'class': 'col-14 col-m-14 col-l-14 col-xl-14'}})}}
                    {{ form_row(formaEditPost.Category)}}
                    {{ form_row(formaEditPost.subCategory)}}
                    {{ form_row(formaEditPost.hat,{ 'attr' :{'placeholder': "Chapeau de l'article",'class': 'col-14 col-m-14 col-l-14 col-xl-14 height-4 height-m-2 height-l-1'},'label':'Chapeau (max 250 Charactères)'})}}
                    {{ form_row(formaEditPost.imagesUne,{ 'attr' :{'placeholder': "click pour ajouter une image",'class': 'col-14 col-m-14 col-l-14 col-xl-14'}})}}
                    
                    <div data-mdeditor>{{ form_row(formaEditPost.content,{ 'attr' :{'name':'content'}})}}</div>
                    <div class="btn_radio_form_admin">
                        {{ form_row(formaEditPost.online,{ 'attr' :{'class':'groupeform'}})}}
                        {{ form_row(formaEditPost.slider,{ 'attr' :{'class':'groupeform'}})}}
                    </div>

                    <button class="btn_validation_fom_admin_post uppercase primaire btn">envoyer</button> 
                {{ form_end(formaEditPost) }}
            </div>
        </section>  
    </div>



    <input type="hidden" name="" id="patch_image" value="{{ path("admin-gestion-media", {id : post.mediaToken}) }}">    
<div id="modal" class="modal modalNone">
    <div id="closeModal" class="close" onclick = "addClass()">
        x
    </div>
</div>
{% endblock %}
{% block javascripts %}
    <script src="/dist/js/eventFormSubCategorie.js"></script>
    <script src="/dist/js/closeModal.js"></script>
    <script src="/dist/js/imageUne.js"></script>
    <script src="/dist/js/scriptImage.js"></script>
    <script>
      
        let image = '{{ path("admin-gestion-media", {id : post.mediaToken}) }}';
    </script>
 
{% endblock %}