{% extends "administration.html.twig" %}
{% block title %}Posts | Liste{% endblock %}
{% block body %}
    <section class="contentAdmin ">
      {% include "/element/_flash_messages.html.twig" %}
      <table>
        <caption>
          <h1>Liste des Articles</h1>
        </caption>
        <thead>
          <tr>
            <th>#</th>
            <th>Titre</th>
            <th>Catégorie</th>
            <th>Sous-Catégorie</th>
            <th>Date de création</th>
            <th>En ligne</th>
            <th>Slideshow</th>
            <th>action</th>
          </tr>
        </thead>
        <tbody>
          {% for posts in posts %}
            <tr>
              <th>{{ posts.id}} </th>
              <td>{{ posts.title}} </td>
              <td>{{ posts.subCategory.categories}} </td>
              <td>{{ posts.subCategory}} </td>
              <td>{{ posts.createdAt |date("m/d/Y") }} </td>
              <td>{{ posts.online}} </td>
              <td>{{ posts.slider}} </td>
              <td>
                  <a href="{{ path('admin-post-edit', {'id': posts.id}) }}" class="btn-success">Edit</a>
                  <a href="{{ path('admin-post-delete', {'id': posts.id}) }}" class="btn-danger">Delete</a>
              </td>
            </tr>
          {% else %}
          <tr>
            <td colspan="4">no records found</td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
      <div class="row">
        <div class="pagination" >
            {% include 'admin/elements/_paginator.html.twig' %}
        </div>
      </div>
    </section>
{% endblock %}